<!DOCTYPE HTML>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario Arquivo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</head>
<body class="bg-success">
    <header class="mb-5 p-3">
        Cabecalho da pagina
    </header>
<br>
    <br>

    <main class="container mt-5">

        <form class="card bg-dark text-light" method="POST" action="/transacao/novo" enctype="multipart/form-data">
            <section class="card-header border-bottom border-success mx-3"> <h3 class="text-center text-success">Importar transações</h3></section>
            <div class="card-body p-4">
                <div th:text="${frase}" class="text-warning"></div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Insira um arquivo .cvs</label>
                    <input class="form-control" type="file" id="formFile" name="file">
                    <small>Selecione o arquivo para fazer o upload</small>
                </div>

                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success text-dark mt-3 mb-2" type="submit">importar</button>
                </div>
            </div>
        </form>

        <br>

        <div class="card bg-dark mt-5">
            <section class="card-header border-bottom border-success mx-3"> <h3 class="text-success text-center">Importações Realizadas</h3></section>
            <div class="card-body">
                <table class="table table-dark table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data transações</th>
                        <th scope="col">Data Importação</th>
                    </tr>
                    </thead>

                    <tbody th:each="transaction : ${transactions}">
                        <tr>
                            <th th:text="${transaction.id}" scope="row">1</th>
                            <td th:text="${#temporals.format(transaction.dataHoraImportacao, 'dd/MMM/yyyy HH:mm')}" > aaa</td>
                            <td th:text="${#temporals.format(transaction.dataTransacao, 'dd/MMM/yyyy')}" > bbbbb</td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </main>

</body>
</html>